<!doctype html>
<html>
<head>
 <meta name="viewport" content="width-device-width"/>
 <title>List</title>
</head>
<body>
 <h2>@Model.currentCategory</h2>
 @{ 
 foreach (var shoes in Model.allShoes){
 <div>
 <h2>Модель: @shoes.Name</h2>
 <p>Ціна: @shoes.Price.ToString("c")</p>
 </div>
 }
 }
</body>
</html>
