<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width"/>
		<title>List</title>
	</head>
	<body>
		<div class="container-fluid">
			<a href="/Order/@ViewBag.OrderId">
				<h2 class="text-center my-5 fw-bold">@ViewBag.Message</h2>
			</a>
		</div>
	</body>
</html>